{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{%endblock %}

{% block content %}
    <h1>About Page</h1>
<p>Here we will exhibit what we want to do after the Finals. You can take a look at our Tasks and motivate yourself with them.</p>
        <a class="btn btn-sm btn-outline-secondary" href="/">Home</a>
        <a class="btn btn-sm btn-outline-secondary" href="/kpop">K-Pop Page</a>
        <a class="btn btn-sm btn-outline-secondary" href="/anime">Anime Page</a>
        <a class="btn btn-sm btn-outline-secondary" href="/aiu">University Page</a>
    {% for el in tasks %}
        <div class="alert alert-warning mt-2">
            <h2>{{ el.title }}</h2>
            <p>{{ el.task }}</p>
        </div>
{% endfor %}
{% endblock %}
