<!doctype html>
<head>
<style>
body {
  background-image: url("https://cdn.hipwallpaper.com/i/55/76/037Pks.jpg");
}
</style>
</head>
</body>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column h-100">
    <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Main Page</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
      </form>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Anime Page</h1>
    <p>Hello</p>
    <p>You can watch the top of the best anime on our list and find something new for yourself. Good Luck!</p>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">We wish you a good knowledge of this industry.</span>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<p><a href="https://www.viz.com/naruto">Naruto Official Site!</a></p>
    <p><a href="https://jut.su/naruto//">Here you can watch Naruto in good quality and in russian language!</a></p>
    <p><a href="https://youtu.be/iaZ_UVcbS1g">Video 1!</a></p>
     <p><a href="https://youtu.be/h0iTV39NQCg">Video 2!</a></p>
    <h3>Some Facts about Naruto</h3>
    <p>Naruto is one of the worst series for having an abundance of filler. Over a third of all Naruto episodes were filler, with 43% of the sequel series, Naruto Shippuden, being created by the anime staff.</p>
    <p>Despite the show being fairly faithful to the source material, there were still a few boundaries that couldn't be crossed. The depiction of narcotics (like cigarettes, as will discuss later) was a big one that had to be changed. The most ridiculous of all censorship happened when an underage character accidentally got drunk.</p>
    <p>In 2015, Naruto received a live-action musical. The show followed an abridged version of the Wave Country and Chunin Exam arcs. It was so popular that it had a second run in 2016. It only ran in a few cities in Japan over the past two years, but a DVD of the show was released if you want to see it.</p>
    <p>In the 312th issue of the Naruto manga, two new villains were introduced. They were called Hidan and Kakuzu, who were jokingly referred to as the "Zombie Duo". The reason for this is due to the extreme effort it would take to kill either of them. Hidan was the priest of an evil religion. He had gained immortality and the ability to regenerate from any wound, due to the horrific rituals he performed and murders that he committed. Hidan had his head cut off at one point and survived it! He just had it sewn back on.</p>
<p><a href="https://www.viz.com/hunter-x-hunter">HUNTERxHUNTER official Site!</a></p>
    <p><a href="https://jut.su/hunter-hunter/">Here you can watch HUNTERxHUNTER in good quality and in russian language!!</a></p>
    <p><a href="https://youtu.be/PWqMHLi1zEg">Video 1</a></p>
     <p><a href="https://youtu.be/InD5N3WVOOs">Video 2</a></p>
    <h3>Some Facts about HUNTERxHUNTER</h3>
    <p>Hisoka and Pariston Hill have one thing in common, though it has nothing to do with the Hunter x Hunter storyline itself. Hiroki Takahashi, the clown's voice actor from the 1999 series, doubles as the voice behind Pariston Hill in the 2011 adaptation.</p>
    <p>As it turns out, the HxH manga painted a slightly different scenario that was ultimately rewritten for television. In print, Hisoka had actually asked Machi to spend the night with him, entirely skipping the invitation to wine and dine.</p>
    <p>This is more of a fan theory than a confirmed fact, but it's impossible to disregard the numbers as mere coincidence. The four protagonists seen above all share a curious detail regarding their birthdays. Leorio was born on March 3 (3/3), Kurapika's birthday is on April 4 (4/4), Gon's falls on May 5 (5/5), and Killua's date of birth is July 7 (7/7).</p>
    <p>Hisoka's Past was initially an April Fools' prank posted on Twitter, but the project ended up being published regardless. While it's not exactly canon, Togashi admitted that he was a fan of Ishida's vision and mentioned that he would like to connect it to his own story someday. However, that's not likely to happen any time soon thanks to HxH's everlasting hiatus dilemma.</p>
<p><a href="https://www.viz.com/death-note">Death Note official Page!</a></p>
    <p><a href="https://jut.su/deathnote/">Here you can watch Death Note in good quality and in russian language!</a></p>
    <p><a href="https://youtu.be/-MZLvIayaAc">Video 1</a></p>
     <p><a href="https://youtu.be/lGu_I8gBIJ8?list=TLPQMDYxMjIwMjB7NySvwZOcNQ">Video 2</a></p>
    <h3>Some Facts about Death Note</h3>
    <p>Something that should be a big relief to fans who might be worried that this adaption of Death Note will be sanitized for American viewers is that the version set for Netflix will be the equivalent of an R-Rated film. While the anime and manga are far from some HBO drama in terms of mature content, it’s a story that frequently deals with characters dying, sometimes in gruesome fashion. One of the first major usages of the Death Note involves Light using it to help a girl being harassed by writing her assailant’s name in the notebook and having him be run over in the street.</p>
    <p>Followers of the manga or anime are probably already aware, but the American adaption of Death Note won’t actually be the first live-action treatment the story has received. Death Note already had not one, but two live-action Japanese movies, as well as a more recent live-action TV series. But if you haven’t heard about any of these other adaptions and were thinking of checking them out, you’re probably better off skipping them. Most fans of the original story are in agreement that while it’s an admirable effort to try and translate the story with real actors, that the Japanese adaptions didn’t really hit the mark.</p>
    <p>Light Yagami is a high school student himself when he first finds Ryuk’s Death Note, and what school kid doesn’t have disagreements with their fellow classmates? Light initially contemplates testing the Death Note by eliminating a bully at his school, but he soon sets his sights on bigger dangers to society. But for kids who are victimized day after day, it’s understandable that they'd fantasize about some way to end their harassment.</p>
<p><a href="https://www.viz.com/tokyo-ghoul">Tokyo Ghoul official Page!</a></p>
    <p><a href="https://youtu.be/4O98yQQbAMM">Video 1</a></p>
    <p><a href="https://youtu.be/z310JWrvUa0">Video 2</a></p>
    <h3>Some Facts about Tokyo Ghoul</h3>
<p>Kaneki has always been afraid of being alone, and the fact that he'll go back to having nobody if he hurts people around him haunts him until a significant period of time. Even when Kaneki has a change of persona, he tries to protect everyone by himself, primarily because they mean a lot to him, but also because he never wants to face the trauma of being alone ever again.</p>
<p>More than that, this abrupt change is symbolic for the author of the series. Kaneki's initial transformation from a black-haired person to one with white hair symbolizes his mental progression. It only takes place when Kaneki embraces his ghoul side and allows it to cannibalize on his human side, symbolically speaking, to break free of Jason's torture.</p>
<p>However, Kaneki's intention was just to eat his Kagune. Since Kaneki didn't have much to do with Jason, he was left to die right there as Kaneki made his way out.</p>
<p>As a character, Kaneki Ken's mental progression is one of the best qualities of both himself and the manga. At the beginning of the story, Kaneki realizes that the world is full of atrocities caused by both humans and ghouls. Initially, he blames the world for turning him into a Ghoul.</p>
</body>
</body>
</html>
