<!doctype html>
<head>
<style>
body {
  background-image: url("https://wallpapercave.com/wp/wp4684406.jpg");
}
</style>
</head>
</body>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column h-100">
    <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Main Page</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">K-POP</h1>
    <p> WHAT IS K-POP? </p>
    <p> K-pop (short for Korean pop) is a genre of popular music originating in South Korea. It is influenced by styles and genres from around the world, such as experimental, rock, jazz, gospel, hip hop, R&B, reggae, electronic dance, folk, country, and classical on top of its traditional Korean music roots. The more modern form of the genre emerged with the formation of one of the earliest K-pop groups, Seo Taiji and Boys, in 1992. Their experimentation with different styles and genres of music and integration of foreign musical elements helped reshape and modernize South Korea's contemporary music scene.</p>
    <p> You can visit some popular k-pop groups and research some an interesting things for yourself!</p>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">We wish you a good knowledge of this industry.</span>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <h3>BTS</h3>
    <p><a href="https://ibighit.com/bts/eng/">Visit BTS!</a></p>
    <p><a href="https://www.youtube.com/watch?v=7VPcnJ9oJ-k">Watch the debut music video of BTS!</a></p>
    <p><a href="https://youtu.be/MBdVXkSdhwU">Watch the most popular perfomance of BTS!</a></p>
    <p>BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band that began formation in 2010 and debuted in 2013 under Big Hit Entertainment.[3] The septet—composed of RM, Jin, Suga, J-Hope, Jimin, V, and Jungkook—co-writes and co-produces much of their own output. Originally a hip hop group, their musical style has evolved to include a wide range of genres. Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth, loss, the journey towards loving oneself, and individualism. Their work features references to literature and psychological concepts and includes an alternative universe storyline. The group has released several albums and performed on several world tours.</p>
    <h3>EXO</h3>
    <p><a href="http://exo.smtown.com/">Visit EXO!</a></p>
    <p><a href="https://youtu.be/KH6ZwnqZ7Wo">Watch the debut music video of EXO!</a></p>
    <p><a href="https://youtu.be/KSH-FVVtTf0">Watch the most popular perfomance of EXO!</a></p>
    <p>Exo (Korean: 엑소; stylized in all caps) is a South Korean-Chinese boy band based in Seoul, consisting of nine members: Xiumin, Suho, Lay, Baekhyun, Chen, Chanyeol, D.O., Kai and Sehun. The band was formed by SM Entertainment in 2011 and debuted in 2012. Their music—released and performed in Korean, Mandarin, and Japanese—primarily incorporates pop, hip-hop, and R&B, including elements of electronic dance music genres such as house and trap. The band ranked as one of the top five most influential celebrities on the Forbes Korea Power Celebrity list from 2014 to 2018 and have been labeled "Kings of K-pop" and the "Biggest boyband in the world" by various media outlets.</p>
    <h3>BLACKPINK</h3>
    <p><a href="https://www.ygfamily.com/artist/Main.asp?LANGDIV=E&ATYPE=2&ARTIDX=70">Visit BLACKPINK!</a></p>
    <p><a href="https://youtu.be/bwmSjveL3Lc">Watch the debut music video of BLACKPINK!</a></p>
    <p><a href="https://youtu.be/IHNzOHi8sJs">Watch the most popular perfomance of BLACKPINK!</a></p>
    <p>Blackpink (Korean: 블랙핑크; commonly stylized as BLACKPINK or BLΛƆKPIИK) is a South Korean girl group formed by YG Entertainment, consisting of members Jisoo, Jennie, Rosé, and Lisa. The group debuted in August 2016 with their single album Square One, which featured "Whistle" and "Boombayah", their first number-one entries on South Korea's Gaon Digital Chart and the Billboard World Digital Song Sales chart, respectively.</p>
    <h3>BIGBANG</h3>
    <p><a href="https://www.ygfamily.com/artist/About.asp?LANGDIV=E&ATYPE=2&ARTIDX=3">Visit Big Bang!</a></p>
    <p><a href="https://youtu.be/rc-cHSzK5-U">Watch the debut music video of BIGBANG!</a></p>
    <p><a href="https://youtu.be/2ips2mM7Zqw">Watch the most popular perfomance of BIGBANG!</a></p>
<p>Big Bang (Korean: 빅뱅; stylized as BIGBANG) is a South Korean boy band formed by YG Entertainment. The group consists of four members: G-Dragon, T.O.P, Taeyang, and Daesung; former member Seungri retired from the entertainment industry on March 11, 2019. Dubbed the "Kings of K-pop", they helped spread the Korean Wave internationally and are one of the most influential acts in K-pop history. They are known for their trendsetting musical experimentation, self-production, and stage presence.</p>
    <h3>Stray Kids</h3>
    <p><a href="https://straykids.jype.com/">Visit Stray Kids!</a></p>
    <p><a href="https://youtu.be/AdfIfFGCqgo">Watch the debut music video of Stray Kids!</a></p>
    <p><a href="https://youtu.be/TQTlCHxyuu8">Watch the most popular perfomance of Stray Kids!</a></p>
    <p>Stray Kids (Korean: 스트레이 키즈; RR: Seuteurei kijeu; often abbreviated as SKZ) is a South Korean boy band formed by JYP Entertainment through the 2017 reality show of the same name. The group is composed of eight members: Bang Chan, Lee Know, Changbin, Hyunjin, Han, Felix, Seungmin, and I.N. Originally a nine-piece group, member Woojin left Stray Kids due to undisclosed personal reasons in October 2019. The group released their extended play Mixtape in January 2018 and officially debuted on March 25 with I Am Not.</p>
</body>
</body>
</html>
